.warning {
    border: 10px ridge #d4e6a6; 
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 200px;
    height: 200px;
}

.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.contenedor-padre {
    width: 100%;
    display: block;
    clear: both;
}

div.micontener {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 15px; 
}

span.estilizada {
    color: purple;
    font-style: italic;
    font-weight: bold;
}